::-webkit-scrollbar {
  width: 0px;
  background: transparent; /* make scrollbar transparent */
}

* {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  overflow-x: hidden;
}

body {
  margin: 0 auto;
  flex-direction: column;
  background-color: #fffefc;
  width: 100vw;
  line-height: 1.75em;
  /* overflow-x: hidden; */
}

#search {
  width: 90%;
  max-width: 300px;
  padding: 0 3%;
  /* max-width: 500px; */
  margin: 5px auto;
  align-items: center;
  justify-content: center;
  justify-items: center;
  line-height: 1.5em;
}

select,
input {
  border-radius: 10px;
  border: 1px solid rgb(0, 0, 0);
  height: 25px;
  font-size: 1em;
  width: 100%;
  margin-bottom: 10px;
  background-color: #fffefc;
  padding-left: 5px;
}

input#searchBox {
  width: 100%;
  box-sizing: border-box;
  padding-left: 8px;
  display: inline-block;
}

button {
  width: 100px;
  line-height: 1.5em;
  background-color: #fffefc;
  border-radius: 10px;
  border: 1px solid rgb(0, 0, 0);
  background-color: white;
  color: black;
  cursor: pointer;
  position: relative;
  margin: 0 0 5px 0;
  left: 50%;
  top: 20px;
  transform: translate(-50%, -50%);
}

#gallery {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  /* grid-template-rows: masonry; */
  /* grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 10px; */
}

#gallery img {
  /* min-width: 300px; */
  /* max-width: 500px;
  max-height: 500px; */
  width: 95vw;
  max-width: 500px;
  object-fit: contain;
  margin: 5px auto;
  box-shadow: rgba(84, 84, 91, 0.2) 0px 5px 10px 0px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px 0px;
  background-color: #fffefc;
  padding: 2.5vw;
  box-sizing: border-box;
  border-radius: 2px;
}

figure {
  /* width: 95vw; */
  margin: 0;
  display: flex;
  flex-direction: column;
}

figcaption {
  margin: -3px 2.5vw 5px auto;
  line-height: 1em;
}

figcaption a {
  text-decoration: none;
  color: black;
  font-size: 0.9em;
}

figcaption a:hover {
  text-decoration: none;
  text-shadow: 1px 1px 3px;
}

@media only screen and (min-width: 900px) {
  /* #search {
    display: flex;
    flex-direction: row;
    max-width: 1200px;
    margin-top: 20px;
  }

  select,
  input {
    max-width: 300px;
    margin-right: 50px;
  }
  label {
    width: auto;
    min-width: 10em;
  } */

  #gallery img {
    height: 100%;
    max-height: 350px;
    width: 95%;
    margin-top: 15px;
  }

  #gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  /* button {
    width: 500px;
    position: relative;
    left: 0;
    top: 15px;
    transform: none);
  } */
}

@media only screen and (min-width: 1200px) {
  #search {
    display: flex;
    flex-direction: row;
    max-width: 1200px;
    margin-top: 20px;
    margin: 20px 20;
  }

  select,
  input {
    width: 150px;
    margin-right: 50px;
    margin-bottom: 0;
  }

  select {
    margin-right: 0;
  }

  label {
    width: 100px;
    min-width: 10em;
    text-align: end;
    margin-right: 8px;
  }

  button {
    width: 600px;
    position: relative;
    left: 0;
    padding: 0;
  }
}

@media only screen and (min-width: 1800px) {
  #gallery {
    grid-template-columns: repeat(5, 1fr);
  }
}
